.container {
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
}

.container h2 {
  border-bottom: 5px solid #53c60b;
  width: fit-content;
  margin-bottom: 50px;
  font-size: 1.9rem;
}

.banner {
  display: flex;
}

.banner img {
  width: 300px;
  border-radius: 10px;
}

.banner div {
  margin-left: 30px;
}

.banner h3 {
  font-size: 1.3rem;
  color: #53c60b;
}

.banner span {
  display: flex;
  align-items: center;
}

.location {
  color: grey;
  margin: 20px 0 40px;
}

.discount {
  background-color: #ed4133;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-top: 20px;
}

.introduction {
  margin: 60px 0;
  line-height: 25px;
  text-align: justify;
}

.details {
  margin-bottom: 60px;
}

.details h4 {
  font-size: 1.5rem;
  color: #53c60b;
  margin: 24px 0;
}

.details ul {
  list-style: none;
}

.details li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.details li::before {
  content: "• ";
  color: #53c60b;
}

.details p {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 10px;
}

.details span {
  color: grey;
}

.recipe {
  margin-bottom: 100px;
}

.recipe h4 {
  font-size: 1.5rem;
  color: #53c60b;
  margin: 24px 0;
}

.recipe div {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  text-align: justify;
}

.recipe span {
  font-size: 2rem;
  margin: 0 15px 0 5px;
}

.odd {
  background-color: #e8ffdb;
}

.even {
  background-color: #bcff93;
}

.container .button_loader {
  width: 50%;
  border: none;
  background-color: #969696;
  color: white;
  padding: 11px;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .banner {
    flex-direction: column;
  }
  .banner div {
    margin: 0;
  }
  .banner img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.loader{
    justify-content: center;
    display: flex;
    margin-top: 5px;
}

.button_green {
  margin: auto;
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: #53c60b solid 0.15em;
  border-radius: 0.25em;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  width: 300px;
}

.button_green p {
  z-index: 1;
  margin: auto;
}

.button_green:hover {
  color: rgb(255, 255, 255);
}

.button_green:active {
  border-color: #53c60b;
}

.button_green::after, .button_green::before {
  content: "";
  position: absolute;
  width: 13em;
  aspect-ratio: 1;
  background: #15ff00;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button_green::before {
  left: 0;
  transform: translateX(-8em);
}

.button_green::after {
  right: 0;
  transform: translateX(8em);
}

.button_green:hover:before {
  transform: translateX(-1em);
}

.button_green:hover:after {
  transform: translateX(1em);
}

.button_green:active:before,
.button_green:active:after {
  background: #53c60b;
}
.button_container{
  justify-content: center;
  display: flex;
}



.button_red {
  margin: auto;
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: #c60b0b solid 0.15em;
  border-radius: 0.25em;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  width: 300px;
}

.button_red p {
  z-index: 1;
  margin: auto;
}

.button_red:hover {
  color: rgb(255, 255, 255);
}

.button_red:active {
  border-color: #c60b0b;
}

.button_red::after, .button_red::before {
  content: "";
  position: absolute;
  width: 13em;
  aspect-ratio: 1;
  background: #ff0000;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button_red::before {
  left: 0;
  transform: translateX(-8em);
}

.button_red::after {
  right: 0;
  transform: translateX(8em);
}

.button_red:hover:before {
  transform: translateX(-1em);
}

.button_red:hover:after {
  transform: translateX(1em);
}

.button_red:active:before,
.button_red:active:after {
  background: #f60a0a;
}
.button_container{
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
}

