.container {
display: flex;
}
.right img {
width: 450px;
}

.left {
display: flex;
flex-direction: column;
margin-top: 10px;
}

.left h2 {
border-bottom: 3px solid #53c60b;
width: fit-content;
margin: 20px 0;
font-family: revert;
}

.left p {
font-weight: 500;
margin: 16px 0;
font-family: sans-serif;
}

.left span {
color: grey;
text-align: justify;
font-family: system-ui;
}

.left a {
background-color: #53c60b;
color: white;
padding: 10px 30px;
width: fit-content;
margin-top: 30px;
border-radius: 5px;
}

@media (max-width: 900px) {
.right img {
    width: 350px;
}
.left {
    margin-top: 10px;
}

}

@media (max-width: 600px) {
.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.right {
    text-align: center;
}
.right img {
    width: 90%;
}
}
